@model IEnumerable<LibraryProject.Models.ManageUsersModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor( model => model.IsBanned)
        </th>
        <th>
            @Html.Label("Action")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.IsBanned)
            </td>
            <td>
              @using (Html.BeginForm("SetBannUser","Account", new {id = item.Id}))
              {
                    <button type="submit" name="banned" value="true" class="btn btn-sm btn-danger">Bann</button>
                    <button type="submit" name="banned" value="false" class="btn btn-sm btn-danger">UnBann</button>
              }
                @*@Html.ActionLink("Banned", "SetBannUser", "Account", new { id = item.Id}, new { @class = "btn btn-sm btn-danger" })*@
                @*@Html.ActionLink("Unbanned", "SetBannUser", "Account", new { id = item.Id, banned ="false"}, new { @class ="btn btn-sm btn-success"})*@
            </td>
        </tr>
    }

</table>
