@model LibraryProject.ViewModels.RegisterModel
@{
    ViewBag.Title = "Register";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <h4>User registration</h4>
        <hr />
        @Html.ValidationSummary(false)
        <div>
            @Html.Label("Name")
            <div>
                @Html.EditorFor(model => model.Name)
            </div>
        </div>
        <div>
            @Html.Label("Email")
            <div>
                @Html.EditorFor(model => model.Email)
            </div>
        </div>
        <div>
            @Html.Label("Password")
            <div>
                @Html.EditorFor(model => model.Password)
            </div>
        </div>
        <div>
            @Html.Label("Confirm password")
            <div>
                @Html.EditorFor(model => model.ConfirmPassword)
            </div>
        </div>
        <div>
            <input type="submit" value="Register" class="btn btn-sm btn-success" />
            @Html.ActionLink("Log In", "Login", "Account", "", new { @class = "btn-link btn-success" })
        </div>
    </div>
}

