

@model LibraryProject.Models.BooksFilterModel

@{
    ViewBag.Title = "BooksFilterViewModel";
}
<h4>Books</h4>

<div id="example">
    <div id="grid"></div>
    <script>
        $(document).ready(function () {
            $('#grid').kendoGrid({
                dataSource: { 
                    type:'odata',
                    transport: {
                        read: {
                            url: "/api/Test/GetBook",
                            dataType: "json"
                        }
                    },
                    schema: {                       
                        data: function (data) {
                            return data;
                        },
                        total: function (data) {
                            return data['odata.count'];
                        },
                        model: {
                            fields: {
                                Id: { type: "number" },
                                Name: {type:"string"},
                                Author: {type:"string"},
                                Publisher: {type:"string"},
                                Price:{type:"number"}
                            }
                        }
                    },
                pagesize: 20
            },
                height: 550,
                columns: [
                    {
                        field: "Id",
                        title: "Id",
                    },
                    {
                        field: "Name",
                        title: "Name",
                    },
                    {
                        field: "Author",
                        title: "Author",
                    },
                    {
                        field: "Publisher",
                        title: "Publisher",
                    },
                    {
                        field: "Price",
                        title: "Price",
                    }
                ]
            });
        });
    </script>
</div>
@*EXAMPLE 1
    <div id="example">

        <div id="grid">
            WRITE PLACE
        </div>

        <script>


            $(document).ready(function () {
                $("#grid").kendoGrid({
                    dataSource: {
                        type: "odata",
                        transport: {
                            read: "https://demos.telerik.com/kendo-ui/service/Northwind.svc/Customers"
                        },
                        pageSize: 20
                    },
                    height: 550,
                    groupable: true,
                    sortable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    columns: [{
                        template: "<div class='customer-photo'" +
                        "style='background-image: url(../content/web/Customers/#:data.CustomerID#.jpg);'></div>" +
                        "<div class='customer-name'>#: ContactName #</div>",
                        field: "ContactName",
                        title: "Contact Name",
                        width: 240
                    }, {
                        field: "ContactTitle",
                        title: "Contact Title"
                    }, {
                        field: "CompanyName",
                        title: "Company Name"
                    }, {
                        field: "Country",
                        width: 150
                    }]
                });
            });
        </script>
    </div>

    <style type="text/css">
        .customer-photo {
            display: inline-block;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-size: 32px 35px;
            background-position: center center;
            vertical-align: middle;
            line-height: 32px;
            box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
            margin-left: 5px;
        }

        .customer-name {
            display: inline-block;
            vertical-align: middle;
            line-height: 32px;
            padding-left: 3px;
        }
    </style>*@


@*<hr />*@
@*@(Html.Kendo().Grid<LibraryProject.Models.BookViewModel>()
                .Name("booksList")
                .Columns(columns =>
                {
                    columns.Bound(c => c.Name).Title("Name");
                    columns.Bound(c => c.Author).Title("Author");
                    columns.Bound(c => c.Publisher).Title("Publisher");
                    columns.Bound(c => c.Price).Title("Price");
                    //columns.Command(command =>
                    //{
                    //    command.Destroy();
                    //});
                })
    )*@

@*<table class="table table-striped table-condensed table-bordered col-md-12">
        <tr>

            <td colspan="1" align="left">
                @if (User.IsInRole("admin"))
                {
                    @Html.ActionLink("Create New", "CreateBook", "Home", new { }, new { @class = "btn btn-sm btn-success " })
                }
            </td>

            <td colspan="4" align="left">
                @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                {
                    <div class="form-inline">
                        @Html.DropDownList("bookPublisher", Model.BooksPublisher as SelectList, htmlAttributes: new { @class = "form-control" })
                        <input type="submit" value="Filtr publisher" class="btn btn-sm btn-primary" />
                    </div>
                }
            </td>
        </tr>
        <tr>
            <th align="left">
                @Html.Label("Name")
            </th>
            <th align="left">
                @Html.Label("Author")
            </th>
            <th align="left">
                @Html.Label("Publisher")
            </th>
            <th align="left">
                @Html.Label("Price")
            </th>
            <th align="left">
                @Html.Label("Action")
            </th>
        </tr>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td align="left">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td align="left">
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td align="left">
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td align="left">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td align="left">
                    @if (User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Edit book", "EditBook", new { id = item.Id }, new { @class = "btn btn-sm btn-info " })
                    }
                    @Html.ActionLink("Show", "ShowBook", new { id = item.Id }, new { @class = "btn btn-sm btn-info" })
                    @if (User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Delete", "DeleteBook", "Home", new { id = item.Id }, new { @class = "btn btn-sm btn-danger viewDialog ", data_dialog_title = "Delete" })
                    }
                </td>
            </tr>
        }
        <tr>
            <td align="left" colspan="5">
                @Html.ActionLink("Save txt list", "GetBooksList", new { }, new { @class = "btn btn-sm btn-primary button-saver" })
                @Html.ActionLink("Save xml list", "GetBooksXmlList", new { }, new { @class = "btn btn-sm btn-primary button-saver" })
            </td>
        </tr>
    </table>*@
