@model LibraryProject.ViewModels.BooksFilterModel
@{
    ViewBag.Title = "Books";
}
<h4>Books</h4>

<div id="example">
    <div id="grid-book"></div>
    <div id="details"></div>
    @Scripts.Render("~/bundles/BooksKendoJScript")
    <script>
        var bookList = @Html.Raw(Json.Encode(Model.Books));
        var publisherList = @Html.Raw(Json.Encode(Model.BooksPublisher.Items));
        var userRole = @Html.Raw(Json.Encode(User.IsInRole("admin")));
        BookAction(bookList, publisherList, userRole);
    </script>

    <div id="booksViewDetails">
    </div>
    <script type="text/x-kendo-template" id="template">
        <div id="details-container">
            <dl>
                <dt>Name:</dt>
                <dd>#= Name #</dd>
                <dt>Author:</dt>
                <dd>#= Author #</dd>
                <dt>Publisher:</dt>
                <dd>#= Publisher #</dd>
                <dt>Price:</dt>
                <dd>#= Price#</dd>
            </dl>
        </div>
    </script>

    @Html.ActionLink("Save txt list", "SaveBooksTxtList", new { }, new { @class = "btn btn-sm btn-primary button-saver" })
    @Html.ActionLink("Save xml list", "SaveBooksXmlList", new { }, new { @class = "btn btn-sm btn-primary button-saver" })
</div>